{
    "plugins": [
        "lodash"
    ],
    "extends": [
        "airbnb",
        "plugin:lodash/recommended"
    ],
    "rules": {
        "eol-last": 0,
        "quote-props": 0,
        "indent": ["error", "tab"],
        "no-tabs": 0,
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
            "functions": "never"
        }]
    }
}