{
    "plugins": [
        "lodash"
    ],
    "extends": [
        "airbnb",
        "plugin:lodash/recommended"
    ],
    "rules": {
        "eol-last": 0,
        "quote-props": 0,
        "indent": ["warn", "tab"],
        "no-tabs": 0,
        "comma-dangle": 0,
        "prefer-destructuring": ["error", {
            "AssignmentExpression": {
                "array": false,
                "object": false
            }
        }]
    }
}